body
{
    /*background: linear-gradient(to bottom right, gray,white);*/
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
h1
{
    margin-bottom: 50px;
}
#heading
{
    position: relative;
    left: 28%;
    font-family: "Sixtyfour";
    font-weight: 400;
    border-bottom:dashed 2px red;
    padding: 20px;

}
span
{
    margin-left: 10px;
    font-family: sans-serif;
}

@keyframes choiceHover
{
    0%{border-bottom-style:dashed;border-bottom-width:1px;border-bottom-color:blue;}
    50%{border-bottom-style:dashed;border-bottom-width:5px;border-bottom-color:blue;}
    100%{border-bottom-style:dashed;border-bottom-width:1px;border-bottom-color:blue;}
}

.button
{
    margin-left: 30px;
    margin-bottom: 30px;
}

.option
{
    font-family: Josefin Sans;
    font-size: 22px;
}
label:hover
{
    animation: choiceHover 0.5s;
    
    cursor:pointer;
}
input:active
{
    background-color: #0afc0e;
}

p
{
    margin-top:0px;
    font-family:"Cinzel","Sans Serif";
    font-weight:bold;
    font-size: 250%;
    background-color: #f2f0f0;
    border-style:dashed;
    border-width:1px;
    border-radius: 20px;
    height: 80px;
    margin-bottom: 50px;    
}

button /*for next button*/
{
    margin-top:5%;
    margin-left:90%;
    background-color:black;
    color:#89eb34;
    height: 40px;
    width: 80px;
    font-family:"Cinzel","Sans Serif";
    font-weight:bold;
    font-size:18px;
}
