body
{
    background: linear-gradient( to top right,#d5fccc, white);
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
h1
{
    margin-bottom: 50px;
}
#heading
{
    position: relative;
    left: 28%;
    font-family: "Sixtyfour";
    font-weight: 400;
    border-bottom:dashed 2px red;
    padding: 20px;

}
#Question
{
    font-family:"Cinzel","Sans Serif";
    font-weight:bold;
    font-size: 250%;
    background-color: #f2f0f0;
    border-style:dashed;
    border-width:1px;
    border-radius: 20px;
    height: 80px;
}
span
{
    margin-left: 10px;
}